* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/lib/java-cup-0.11a-beta-20060608-runtime.jar -text svneol=unset#application/java-archive
WebContent/WEB-INF/web.xml -text
WebContent/agrovoc.jsp -text
WebContent/agrovoc_batch.jsp -text
WebContent/agrovoc_browse.jsp -text
WebContent/agrovoc_lookup.jsp -text
WebContent/catalog_person.jsp -text
WebContent/catalog_person_browse.jsp -text
WebContent/catalog_person_lookup.jsp -text
WebContent/catalog_work.jsp -text
WebContent/catalog_work_browse.jsp -text
WebContent/catalog_work_lookup.jsp -text
WebContent/dbpedia.jsp -text
WebContent/dbpedia_batch.jsp -text
WebContent/dbpedia_browse.jsp -text
WebContent/dbpedia_entity.jsp -text
WebContent/dbpedia_entity_browse.jsp -text
WebContent/dbpedia_entity_lookup.jsp -text
WebContent/dbpedia_lookup.jsp -text
WebContent/dbpedia_name_batch.jsp -text
WebContent/dbpedia_name_lookup.jsp -text
WebContent/dbpedia_person.jsp -text
WebContent/dbpedia_person_browse.jsp -text
WebContent/dbpedia_person_doi_browse.jsp -text
WebContent/dbpedia_person_lookup.jsp -text
WebContent/dbpedia_person_timeline.jsp -text
WebContent/fast.jsp -text
WebContent/fast_batch.jsp -text
WebContent/fast_browse.jsp -text
WebContent/fast_lookup.jsp -text
WebContent/footer.jsp -text
WebContent/geonames.jsp -text
WebContent/geonames_batch.jsp -text
WebContent/geonames_browse.jsp -text
WebContent/geonames_lookup.jsp -text
WebContent/getty.jsp -text
WebContent/getty_aat.jsp -text
WebContent/getty_batch.jsp -text
WebContent/getty_browse.jsp -text
WebContent/getty_lookup.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text
WebContent/images/leo.png -text
WebContent/index.jsp -text
WebContent/loc_genre.jsp -text
WebContent/loc_genre_batch.jsp -text
WebContent/loc_genre_browse.jsp -text
WebContent/loc_genre_context.jsp -text
WebContent/loc_genre_lookup.jsp -text
WebContent/loc_name.jsp -text
WebContent/loc_name_batch.jsp -text
WebContent/loc_name_browse.jsp -text
WebContent/loc_name_lookup.jsp -text
WebContent/loc_subject.jsp -text
WebContent/loc_subject_batch.jsp -text
WebContent/loc_subject_browse.jsp -text
WebContent/loc_subject_lookup.jsp -text
WebContent/local_index.jsp -text
WebContent/local_menu_end.jsp -text
WebContent/local_menu_home.jsp -text
WebContent/menu.jsp -text
WebContent/nalt.jsp -text
WebContent/nalt_batch.jsp -text
WebContent/nalt_browse.jsp -text
WebContent/nalt_lookup.jsp -text
WebContent/resources/style.css -text
WebContent/viaf_entity.jsp -text
WebContent/viaf_entity_browse.jsp -text
WebContent/viaf_entity_lookup.jsp -text
WebContent/viaf_person.jsp -text
WebContent/viaf_person_browse.jsp -text
WebContent/viaf_person_doi_browse.jsp -text
WebContent/viaf_person_lookup.jsp -text
WebContent/viaf_person_timeline.jsp -text
/pom.xml -text
