* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/catalog_person.jsp -text
WebContent/catalog_person_browse.jsp -text
WebContent/catalog_person_lookup.jsp -text
WebContent/catalog_work.jsp -text
WebContent/catalog_work_browse.jsp -text
WebContent/catalog_work_lookup.jsp -text
WebContent/dbpedia.jsp -text
WebContent/dbpedia_browse.jsp -text
WebContent/dbpedia_entity.jsp -text
WebContent/dbpedia_entity_browse.jsp -text
WebContent/dbpedia_entity_lookup.jsp -text
WebContent/dbpedia_lookup.jsp -text
WebContent/dbpedia_person.jsp -text
WebContent/dbpedia_person_browse.jsp -text
WebContent/dbpedia_person_lookup.jsp -text
WebContent/dbpedia_person_timeline.jsp -text
WebContent/footer.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text
WebContent/index.jsp -text
WebContent/menu.jsp -text
WebContent/resources/style.css -text
WebContent/viaf_entity.jsp -text
WebContent/viaf_entity_browse.jsp -text
WebContent/viaf_entity_lookup.jsp -text
WebContent/viaf_person.jsp -text
WebContent/viaf_person_browse.jsp -text
WebContent/viaf_person_lookup.jsp -text
WebContent/viaf_person_timeline.jsp -text
/pom.xml -text
